<h3>
    Last Stats
</h3>
<div class="avg-champ">
    <app-card [cardSimple]="true" 
              [infoSimple]="avgChamp_"
              *ngFor="let avgChamp_ of avgChamp">
    </app-card>
</div>

<h3>
    Last Games
</h3>
<div class="avg-champ">
    <app-card [cardSimple]="true" 
              [infoSimple]="avgChamp_"
              *ngFor="let avgChamp_ of avgChamp">
    </app-card>
</div>

<h3>
    Last tourntaments
</h3>
<div class="avg-champ">
    <app-card [cardSimple]="true" 
              [infoSimple]="avgChamp_"
              *ngFor="let avgChamp_ of avgChamp">
    </app-card>
</div>